<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character.name %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @character.name_kana %>
</p>

<p>
  <strong>Band:</strong>
  <%= @character.band_id %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @character.introduction %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
